<!DOCTYPE html>

<html>

<head>
  <title>Windiction.inc</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <header>
    <div class="main">
      <div class="logo">
      </div>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="team">Team</a></li>
        <li><a href="about">About</a></li>
        <li><a href="
          https://docs.google.com/document/d/1GuH1D1XMW_4DWzFdw-OAOaZDcbv8mTtFnt-9NGgAtBc/edit?usp=sharing">Research</a></li>
        <li><a href="list-products">Buy Product</a></li>
        <li><a href="orders">Cart</a></li>
        <li><a href="admin">Admin</a></li>
        <li><a href="add-products">Admin1</a></li>
        <li><a href="abc">Admin2</a></li>
        <li id="loginSection"><a href="login">Login</a></li>
        <li id="logoutSection"><a href="/" onclick="logout()">Logout</a></li>
      </ul>

    </div>
    <div class="title">
      <h1> Sensit</h1>
    </div>
    <div class="button">
      <a href="https://cdn.glitch.global/ec99c1d4-28c3-4d0a-a72e-fbe13a75e25b/WhatsApp%20Video%202022-12-25%20at%2012.31.26%20AM.mp4?v=1673000638481"
        class="btn">Watch the Video</a>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/login.js"></script>
  </header>
</body>

</html>
