<html>

<head>
  <title>Windiction.inc</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body style="margin:0px">
  <header>
    <div class="main">
      <div class="logo">
    
      </div>
      <ul>
        <li class="active">
          <a href="/">Home</a>
        </li>
      </ul>
    </div>

    <p class="heading">Products:</p>
    <div style="overflow-x:auto;">
      <table id="products">
        <thead>
          <tr>
            <td>Item Name</td>
            <td>Item Price</td>
            <td></td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div id="validateSection">
      <input id="username" type="text" maxlength="100" placeholder="Username">
      <input id="password" type="password" maxlength="100" placeholder="Password">
      <button type="submit" class="btn" onclick="validateUser()">Go!</button>
    </div>

    <form id="submitSection">
      <div id="addStatus"></div>
      <button type="submit">Submit</button>
    </form>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="/list-products.js"></script>
  </header>
</body>

</html>